@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO A OPEN ENGLISH</h1>
    <p>Nueva página para ver que si funciona</p>
    <style>
        
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
    </style>
   
</div>

